<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SmartServerClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SmartServerClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SmartServerClient.Properties.Settings.ConnectionString"
            connectionString="Data Source=10.9.1.3\MSSQLSERVER2008;Initial Catalog=AramisUTK;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <SmartServerClient.Properties.Settings>
            <setting name="ServerIPAddress" serializeAs="String">
                <value>169.254.2.1</value>
            </setting>
        </SmartServerClient.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <SmartServerClient.Properties.Settings>
            <setting name="PinCode" serializeAs="String">
                <value>2168</value>
            </setting>
            <setting name="BaseHelperClassName" serializeAs="String">
                <value>GSMTerminalSMSHelper</value>
            </setting>
            <setting name="HelpersClassesNamespace" serializeAs="String">
                <value>Aramis.SMSHelperNamespace</value>
            </setting>
            <setting name="ComPortNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RemoutePhoneNumber" serializeAs="String">
                <value>380504601539</value>
            </setting>
            <setting name="NativePhoneNumber" serializeAs="String">
                <value>380504408964</value>
            </setting>
            <setting name="HoursBetweenDeliveryServiceTest" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DelayBeforeTestErrorCalled" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="AdminPhoneNumber" serializeAs="String">
                <value>380955627688</value>
            </setting>
            <setting name="DelayBetweenChecking" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TestStartFromTime" serializeAs="String">
                <value>07:00:00</value>
            </setting>
            <setting name="TestStartToTime" serializeAs="String">
                <value>22:00:00</value>
            </setting>
        </SmartServerClient.Properties.Settings>
    </applicationSettings>
</configuration>
